body {
    padding-top: 54px;
}
.homeproduct{
 height:200px;
    margin-left:18%;
    max-width:250px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
@media (max-width: 1200px) {
    .homeproduct{
        margin-left:10%;
        max-width:210px;
    }
}
@media (max-width: 991px) {
    .homeproduct{
        max-width:140px;
        height:125px;
        margin-left:15%;
    }
}
.cforms{
    margin-top:50px;
    margin-bottom:50px;
}
.rform{
    float:right;
}
.remove-from-cart{
    cursor:pointer;
}
.card-height{
    height:100px;
}
.button-pay{
    margin-top:20px;
    margin-bottom:20px;
}
.productimg{
    max-width: 600px;
}